/* .PnavBar {
    background-color: #A1E590;
    height: 82px;

}

.Snavbar {

    background-color: #E9FFD3;
    height: 34px;


} */

.imagen-producto {
    max-height: 300px;
}

link-product {
    transition: transform 1s;
}

.link-product:hover {
    transform: scale(1.02);
}

.inicioFoto {
    margin-left: 59.6%;
}


/* .Footer {

    background-color: #363E2F;
    position: fixed;
    bottom: 0;
    width: 100%;

} */

.backg {
    background-color: #CAF46F;
}

.zoom {
    transition: 1.5s;
    max-height: 80%;
}

.zoom:hover {
    transform: scale(1.1);
}


/* .Rcarta{
    background-color: #E9FFD3;
} */