.PnavBar
{
    background-color: #A1E590;
    height: 82px;
    
}

.Snavbar{

    background-color: #E9FFD3;
    
    
}

.inicioFoto{

    margin-left: 59.6%;
}

.Footer{

    height: 210px;
    background-color: #363E2F;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

.LinkX, .LinkF{
    margin-right: 40px;
    margin-left: 5px;
    text-decoration: none;
    
    

}

.LinkIG, .LinkYT{
    margin-left: 7px;
    text-decoration: none;

}

.AcercaDe{
    float: right;
}



