/* .PnavBar {
    background-color: #A1E590;
    height: 82px;

}

.Snavbar {

    background-color: #E9FFD3;
    height: 34px;


} */

.inicioFoto {

    margin-left: 59.6%;
}

/* .Footer {

    background-color: #363E2F;
    position: fixed;
    bottom: 0;
    width: 100%;

} */

.backg{
    background-color: #CAF46F;
}

/* .Rcarta{
    background-color: #E9FFD3;
} */

